html{
     box-sizing: border-box;
}

div{
    display: block;
}
input{
    border: none;
    background: none;
}
.flex{
    display: flex;
}
.cent{
    align-items: center;
}
.backt{
    background-color: rgb(118, 15, 214);
    height: 25vh;
}
.backb{
    background-color: rgb(175, 175, 175);
    height: 75vh;
}
.scroll{
    overflow-y: scroll;
    height: 100%;
}

.col{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
}

#baap{
    width: 100%;
    height: 95vh;
    position: relative;
    top: 35px;
}
.container{
    width: 95%;
    height: 95%;
    margin: auto;
    background-color: white;
    color: burlywood;
}
.curs{
    cursor: pointer;
}
button{
    border: none;
    background: none;
}


#left{
    width: 25%;
    height: 85%;

}
.per_info{
    flex: none;
    box-sizing: border-box;
    background-color: rgb(223, 221, 217);
    width: 100%;
    height: 60px;
    padding: 0px 16px 0px 16px;
    justify-content: flex-end;
    border: 0.5px solid gray;
} 
.per_lt{
    width: 70%;
}
.per_rt{
    justify-content: end;
    width: 30%;
}
.name{
    color: black;
    font-size: 18px;
    padding: 3px;
    margin-left: 7px;
    cursor:default;
    font-family: 'Source Code Pro', monospace;
}
.dp img{
    border-radius: 50px;
    height: 40px;
    width: 40px;
 }
.logo{
    padding: 0px 3px 0px 3px;
    margin: 0px 5px 0px 5px;
}
.logo img{
    height: 30px;
    width: 30px;
}


.search{
    background-color: rgb(245, 245, 245);
    align-items: center;
    justify-content: flex-start;
}

.bar{
    background-color: rgb(220, 220, 220);
    border-radius: 21px;
    margin: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid gray;
    width: 100%;
    height: 65%;
}tbody{
    overflow: scroll;
}

.tab{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.tab tr{
    height: 1rem;
}
.tab td{
    padding: 0.4rem 0rem 0.4rem 0rem;
    overflow: hidden;
    white-space: nowrap;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #7c6868;
    border-radius: 18px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #474742;
}
.item{
    border-bottom: 0.5px solid gray;
    overflow: hidden;
}
.s_name,.t_name{
    opacity: 0.6;
    font-size: 0.88rem;
    width: 100%;
    overflow: hidden;
    outline: none;
}
.t_name{
    font-size: 0.71rem;
}
.contact{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
.samay{
    width: 20%;
    /* font-size: 0.4rem !important; */
}
.c_name{
    width: 60%;
    overflow: hidden;
}
tr:last-child td:nth-last-child(1),tr:last-child td:nth-last-child(2){
    border-bottom: none;
}
#right{
    width: 75%;
    height: 100%;
    overflow: hidden;
}
#window{
    width: 100%;
    height: 82%;
    overflow: hidden;
}
#window::before{
    content: "";
    background: url('/Images/bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 78%;
    width: 71%;
    opacity: 0.45;

}
#type{
    height: 9.5%;
}
#window{
    box-sizing: border-box;
    align-items: center;
    justify-content: end;
}
.chat_box{
    width: 100%;
    padding-left: 9%;
    padding-right: 9%;
}
.out{
    width: auto;
    height: auto;
    background-color: rgba(43, 191, 255, 0.877);
    /* border: 5px solid crimson; */
    position: relative;
    border-radius: 13px 0px 13px 13px;
    z-index: 2;
    padding: 5px;
    max-width: 80%;
    min-width: 50px;
}
.out::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0%;
    left: 100%;
    border-top: 10px solid rgba(43, 191, 255, 0.877);;
    border-right: 10px solid transparent;
}
.my_message{
    align-items: flex-end;
}
.div_m_time{
    display: inline;
    
}
.m_time{

    justify-content: end;
    position: relative;
    /* width: 100px; */
}