html{
     box-sizing: border-box;
}

div{
    display: block;
}
input{
    border: none;
    background: none;
}
.flex{
    display: flex;
}
.cent{
    align-items: center;
}
.backt{
    background-color: rgb(118, 15, 214);
    height: 25vh;
}
.backb{
    background-color: rgb(175, 175, 175);
    height: 75vh;
}

.col{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
}

#baap{
    width: 100%;
    height: 95vh;
    position: relative;
    top: 35px;
}
.container{
    width: 95%;
    height: 95%;
    margin: auto;
    background-color: white;
    color: burlywood;
}
.curs{
    cursor: pointer;
}
button{
    border: none;
    background: none;
}


#left{
    width: 25%;
    border-right: 1px solid gray;

}
.per_info{
    flex: none;
    box-sizing: border-box;
    background-color: rgb(223, 221, 217);
    width: 100%;
    height: 60px;
    padding: 0px 16px 0px 16px;
    justify-content: flex-end;
    border: 0.5px solid gray;
} 
.per_lt{
    width: 70%;
}
.per_rt{
    justify-content: end;
    width: 30%;
}
.name{
    color: black;
    font-size: 18px;
    padding: 3px;
    margin-left: 7px;
    cursor:default;
    font-family: 'Source Code Pro', monospace;
}
.dp img{
    border-radius: 50px;
    height: 40px;
    width: 40px;
 }
.logo{
    padding: 0px 3px 0px 3px;
    margin: 0px 5px 0px 5px;
}
.logo img{
    height: 30px;
    width: 30px;
}


.search{
    background-color: rgb(194, 194, 194);
}

.bar{
    background-color: rgb(233, 230, 230);
    border-radius: 21px;
    margin: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid gray;
}tbody{
    overflow: scroll;
}
.tab{
    border-collapse: collapse;
}
.tab td{
    padding: 0.4rem 0rem 0.4rem 0rem;
}
.item{
    border-bottom: 0.5px solid gray;
}
.s_name{
    opacity: 0.6;
    font-size: 0.88rem;
}
.contact{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
.samay{
    width: 19%;
    font-size: 0.4rem;
}
.c_name{
    width: 61%;
}
#right{
    width: 75%;
}